@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter), sans-serif;
  @apply bg-slate-50 text-slate-900;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-plus-jakarta), sans-serif;
  @apply tracking-tighter;
}

/* Geometric Balance Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 border-4 border-slate-100 border-solid;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-600;
}
